.album-details-card {
  width: 90%; /* Adjust width as needed */
  max-width: 500px; /* Prevent it from getting too large */
  margin: 0 auto; /* Centers it in the modal */
  background: black;
  padding: 20px;
  text-align: center;  
}

.album-details-card img {
  width: 75%;  /* Reduce width to fit better */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Prevent it from being too tall */
  object-fit: cover; /* Ensures the whole image is visible */
  display: block; 
  margin: 0 auto;
  border-radius: 10px /* Rounded corners */
}

.album-details-card h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
  color: white;
}

.album-details-card p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 2px 0 10px;
}

.album-details-card .tracklist {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 10px;
  padding: 0;
  list-style: none; /* Ensure no default bullet points */  
}

.track {
  padding: 8px 0;
  text-align: left;
  border-bottom: 1px solid #ccc; /* Divider between tracks */
}

.track:last-child {
  border-bottom: none; /* Remove divider from the last track */
}

