.album-details-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: black;
  padding: 0 20px 20px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  margin: 20px auto;
  z-index: 10;
  padding-top: 40px; /* Give space above image */
}


.album-details-card img {
  width: 60%; 
  height: auto;
  max-height: 250px;
  object-fit: contain; /* Ensures the whole image is visible */
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}
.album-details-content {
  position: relative;
  z-index: 5;
}

.album-details-card h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
  color: white;
}

.album-details-card p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 2px 0 10px;
}

.album-details-card .tracklist {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 10px;
  padding: 0;
  list-style: none; /* Ensure no default bullet points */
}

.track {
  padding: 6px 0;
  text-align: left;
  border-bottom: 0.5px solid #ccc;
  margin: 0 10px;
}

.album-image-container {
  width: 100%;
  overflow: hidden;
}

/* Custom modal styles */
.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.custom-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.custom-modal .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.custom-modal .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.custom-modal .modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}