/* Basic Styling for the Audio Player */
.audio-player {    
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    width: 100%;    
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;    
  }
  
  .top-section {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    padding: 0px;      
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* Track Info Styling */
  .track-info {
    display: flex;
    align-items: left;   
  
  }
  
  .track-info img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 1px;
  }  
  
  .marquee {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }
  
  .text-muted {
    font-size: 14px;
    color: #888;
  }
  /* Progress Bar Styling */
  .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 4px;
    position: relative;
   
  }
  
  .progress {
    height: 100%;
    background-color: #4CAF50;
    width: 15%; /* Example width for demonstration */
    border-radius: 4px;
  }
 
  
  /* Time Info Styling */
  .time-info {
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  /* Controls Styling */
  .controls {    
    display: flex;
    align-items: center;   
    justify-content: flex-end;
    width: auto;    
  }
  
  .control-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;    
  }
  
  .play-button {
    font-size: 25px;
    color: #333;
    background:none;
    border: none;
  }
   .volume-control {
    display: flex;
    align-items: center;
  }
  
  .volume-slider {
    width: 100px;
    height: 6px;
    background-color: #ddd;
    border-radius: 5px;
    margin-left: -25px;
    margin-right: 25px;
    position: relative;
  }
  
  .volume-level {
    height: 100%;
    width: 50%; /* Example width for demonstration */
    background-color: black;
    border-radius: 5px;
  }
  